{% load static %}
<footer>
    <div class="cnt">
        <div class="row mob-reserve">
            <div class="col col-2">
                <div class="footer-place footer-left">
                    <div class="align-items-center">
                        <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                    </div>
                    <p>© 2022 Gios It Laboratory | All Rights Reserved.</p>
                </div>
            </div>

            <div class="col col-2">
                <div class="footer-place footer-right">
                    <div class="foot-cont">
                        <h3 class="lg-none flex-center-between">Contacts
                            <img src="{% static 'img/icons/down-icon.svg' %}" alt="Contacts"></h3>
                        <div class="mob-bn">
                            <div class="fr-t align-items-center">
                                <a href="mailto:hi@gios.am">hi@gios.am</a> | <a href="tel:+37496771313">+374(96)77 13
                                13</a>
                            </div>
                            <ul class="social-links align-items-center">
                                <li><a href="https://www.linkedin.com/company/gios-it-laboratory/" target="_blank">LinkedIn</a>
                                </li>
                                <li><a href="https://www.facebook.com/giosarmenia/" target="_blank">Facebook</a></li>
                                <li><a href="https://www.instagram.com/giositlab/" target="_blank">Instagram</a></li>
                                <li><a href="https://www.behance.net/gioslab/" target="_blank">Behance</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>