{% load static %}
<header>
    <div class="cnt">
        <div class="row flex-center-between">
            <div class="col col-2">
                <div class="main-logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo.svg' %}" alt="GiosItLab">
                        <span class="version-tit">Coming Soon</span>
                    </a>
                </div>
            </div>
            <div class="col col-2">

                <div class="coming-soon-text">
                    <p>We are working hard on the full version of our new site<br>and will be back shortly.</p>
                </div>
            </div>
        </div>
    </div>
</header>