{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>GIOS IT LABORATORY: Privacy Policy</title>
    <meta name="Description" content="We build digital products which help businesses to grow and to fully accomplish their goals | +374(96) 77 13 13">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/gios_color.css' %}">
    <link rel="stylesheet" href="{% static 'css/gios_style.css' %}">
</head>

<body>

    <div class="static-pages">
        <!-- header-->
        {% include 'includes/header.html' %}
        <main>
            <div class="cnt">
                <div class="row align-items-center">
                    <div class="col">
                         <div class="all-paragraphs-styles">
                            <h1>Privacy Policy</h1>
                            <p><b>Gios It Laboratory, LLC’s Commitment to Privacy</b></p>
                            <p>Your privacy is extremely important for Gios It Laboratory. For the purpose of ensuring the protection of your privacy, this page will inform you about how your data can be collected, handled and processed, referring also the choices you can make in this regard. We have made this page as accessible as it is possible, placing it on the homepage of our website and on every page of it where your personal information is being requested.</p>
                            <h2>What personal information do we collect from people that visit our website?</h2>
                            <p>This policy applies to all information collected or submitted on this website, or any website or sub-domain related to Gios It Laboratory, LLC. Some pages will also give you an opportunity to submit a form with a request of more information or you can receive a private email from an employee of Gios It Laboratory, LLC. The aforementioned pages collect the following types of personal information (the list is not limited to):</p>
                            <ul>
                                <li>Name</li>
                                <li>Email address</li>
                                <li>Phone number</li>
                                <li>Company name</li>
                            </ul>
                            <p>Providing this information is not mandatory.</p>
                            <h2>How do we use your information?</h2>
                            <p>We may process user information we collect from you when you fill out a contact form, respond to a survey or marketing communication, surf the website, or use certain other site features to follow up with them after correspondence (live chat, email or phone inquiries). Your information will not be used for making automated decisions.</p>
                            <h2>How do we protect your information?</h2>
                            <p>We have established appropriate physical, electronical, and managerial procedures to prevent unauthorized access, maintain data accuracy, be sure that user information is being used correctly and finally to safeguard and secure the information that our website collects.</p>
                            <ul>
                                    <li>We do not use vulnerability scanning and/or scanning to PCI standards.</li>
                                    <li>We never ask for credit card numbers. We only provide articles and information.</li>
                                    <li>We use regular Malware Scanning.</li>
                            </ul>
                            <p>Your personal information is stored on secure networks only and a limited number of people have access to it. They also have special access rights to those networks and systems and finally they are required to keep all of the information confidential.  In addition, all sensitive information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
                            <p>A variety of security measures are being performed when a user enters, submits or accesses personal information to keep that information safe.</p>
                            <h2>Do we use cookies? How do we use them?</h2>
                            <p>Yes. Cookies are small files that are used in websites to store user information and provide users with personalized experiences.<br>A website or its service provider transfers cookies to your computer’s hard drive using your Web browser (if you allow) that enables them to recognize your browser, capture and store certain types of information.</p>
                            <p><b>We use cookies to:</b></p>
                            <ul>
                                <li>Recognize, remember and analyze your preferences, needs or settings when you return to our website, so that we can provide you with a more personalized experience</li>
                                <li>Understand how you use our website and offer better tools and make continual improvements based on your interactions</li>
                            </ul>
                            <p>Although, you can choose a setting of turning off all the cookies or being asked every time before sending them. This can be done through your browser settings. The browsers are naturally different from each other and so are their settings, but in general you can check out your browser’s Help Menu to modify your cookies correctly.<br>In case of turning off the cookies, your user experience will not be affected.</p>
                            <h2>Third-Party Disclosure</h2>
                            <p>We do not sell, trade, rent or otherwise disclose your Personally Identifiable Information collected by our site to third parties. You may browse our website at any time without having to give us any personal information. We do not include or offer third-party products or services on our website. We do not transfer Personally Identifiable Information internationally.</p>
                            <h2>How You Can Access or Correct Your Information</h2>
                            <p>You can request a copy of the personally-identifiable information that is collected by our website online by sending us an email to info@giositlab.com. You will be asked to provide certain pieces of information to verify your identity before any information can be released to you. We use this procedure to better safeguard your information. You can correct factual errors in your personally identifiable information by sending us a request that credibly shows error. To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections.</p>

                        </div> 
                        
                    </div>
                </div>
            </div>
        </main>
        {% include 'includes/footer.html' %}
    </div>
    <script src="{% static 'js/giositlab_script.js' %}"></script>
    <script src="{% static 'js/giositlab_j.js' %}"></script>

</body>

</html>